.login-page {
  display: flex;
  min-height: 100vh;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #525d50;
  overflow: hidden;
}

.login-panel {
  position: relative;
  width: 45%;
  min-width: 420px;
  background: linear-gradient(to bottom, #232B26, #0C0B0D 90%);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: clamp(3rem, 5vw, 5rem);
  overflow: hidden;
}

.login-panel h1 {
  font-family: "Kantumruy Pro", sans-serif;
  font-weight: bold;
  font-size: clamp(3.5rem, 6vw, 7rem);
  line-height: 0.9;
  margin-bottom: 3rem;
  opacity: 0.7;
}

.login-form {
  margin-top: 15rem;
  margin-bottom: 6rem;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 15px;
  border: none;
  background-color: rgba(255, 255, 255, 0.18);
  color: #ffffff;
}

.login-form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.forgot-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  opacity: 0.6;
}


.forgot {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  text-decoration: underline;
}

.login-form button[type="submit"] {
  align-self: flex-end;
  margin-top: 1rem;
  padding: 0.6rem;
  border-radius: 14px;
  border: none;
  background-color: #5A7855;
  cursor: pointer;
  width: 56px;
  height: 56px;
}

.login-form button[type="submit"]:hover {
  background-color: #4c6847;
}

.register {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  background: none;
  border: none;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.35);
  text-decoration: underline;
  cursor: pointer;
}

.error {
  color: #ff6666;
  font-size: 0.85rem;
}

.info-box {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  max-width: 450px;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.25);
  font-size: 0.95rem;
}

.info-box h3 {
  margin-bottom: 0.5rem;
}


@media (max-width: 1024px) {
  .login-panel {
    width: 55%;
  }
}
@media (max-width: 768px) {
  .login-page {
    flex-direction: column;
  }

  .login-panel {
    width: 100%;
    min-width: unset;
  }

  .info-box {
    position: static;
    margin: 2rem;
  }
}
