.reset-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:linear-gradient(to bottom, #232B26, #0C0B0D 100%);
}

.reset-card {
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  border-radius: 14px;
  background: linear-gradient(to bottom, #232B26, #0C0B0D 100%);
  color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.712);
}
.reset-page h1 {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  opacity: 70%;
  font-family: "Kantumruy Pro", sans-serif;
  font-weight: bold;
  font-size: 10rem;
}
.reset-card h2 {
  margin-bottom: 1.25rem;
  font-weight: bold;
}

.reset-input {
  width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.18);
  text-align: center;
}

.reset-button {
  width: 100%;
  padding: 0.75rem;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  background-color: #5A7855;
}

.reset-error {
  color: #f87171;
  margin-bottom: 1rem;
}

.reset-success {
  color: #4ade80;
  text-align: center;
}
