name: Sync Jobs

on:
  schedule:
    - cron: "*/45 * * * *"
    - cron: "0 */6 * * *"
    - cron: "0 0 * * *"
    - cron: "0 0 1 */2 *"

  workflow_dispatch:

env:
  DB_USER: ${{ secrets.DB_USER }}
  DB_HOST: ${{ secrets.DB_HOST }}
  DB_PORT: ${{ secrets.DB_PORT }}
  DB_NAME: ${{ secrets.DB_NAME }}
  DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
  FINNHUB_KEY: ${{ secrets.FINNHUB_KEY }}

jobs:
  marketdata-sync:
    if: |
      github.event_name == 'workflow_dispatch' || 
      (github.event.schedule == '*/45 * * * *' && github.event.schedule != '0 0 * * *')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
      - run: npm install
      - run: node scripts/marketdata-sync.js

  news-sync:
    if: github.event.schedule == '0 */6 * * *'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
      - run: npm install
      - run: node scripts/news-sync.js

  daily-marketdata-sync:
    if: github.event.schedule == '0 0 * * *'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
      - run: npm install
      - run: node scripts/daily-marketdata-sync.js

  monthly-marketdata-sync:
    if: github.event.schedule == '0 0 1 */2 *'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
      - run: npm install
      - run: node scripts/monthly-marketdata-sync.js
